##  Global Variable

In [1]:
x= 10
y =20

In [2]:
x

10

In [3]:
y

20

* Local Variable

In [4]:
def multiplication(x,y):
    return x*y

In [5]:
multiplication

In [6]:
multiplication(2, 3)

6

## changing global domain from local domain

In [19]:
x =[]

In [20]:
def add_element(y):
    x.append(y)
    print(str(y),"ifadesi eklendi")

In [21]:
add_element("ali")

ali ifadesi eklendi

In [23]:
x

['ali']

## decision-control structures
* true-false queries

In [24]:
border =5000

In [25]:
border==4000

False

In [26]:
border ==5000

True

In [27]:
5==4

False

In [28]:
5==5

True

## If

In [31]:
spend =50000
salary =4000

In [34]:
if salary<spend:
    print("Income less than spending")

Income less than spending

In [35]:
salary<spend

True

In [37]:
spend1=50000
salary1 =60000

In [38]:
if salary1<spend1:
    print("Income less than spending")

## Elif