## loc,iloc

In [9]:
?np.random .randint

Object `np.random .randint` not found.

In [1]:
import numpy as np
import pandas as pd

In [3]:
m = np.random .randint(1,30 ,size = (10,3))

In [4]:
m

array([[26, 19, 25],
       [22, 26,  2],
       [ 6, 29, 24],
       [ 9,  9,  5],
       [25, 24,  8],
       [18, 14, 10],
       [ 7, 13, 16],
       [13, 17, 29],
       [18,  6, 12],
       [ 3, 19,  5]])

In [5]:
df =pd.DataFrame(m,columns = ["var1","var2","var3"])

In [6]:
df

   var1  var2  var3
0    26    19    25
1    22    26     2
2     6    29    24
3     9     9     5
4    25    24     8
5    18    14    10
6     7    13    16
7    13    17    29
8    18     6    12
9     3    19     5

# loc :tanimlandigi sekli ile secim yapmak icin kullanilir

In [10]:
df.loc[0:3]

   var1  var2  var3
0    26    19    25
1    22    26     2
2     6    29    24
3     9     9     5

In [ ]:
# iloc : alisik oldugumuz indexleme mantigi ile secim yapar

In [12]:
df.iloc[0:3]

   var1  var2  var3
0    26    19    25
1    22    26     2
2     6    29    24

In [13]:
df.iloc[0,0]

26

In [14]:
df

   var1  var2  var3
0    26    19    25
1    22    26     2
2     6    29    24
3     9     9     5
4    25    24     8
5    18    14    10
6     7    13    16
7    13    17    29
8    18     6    12
9     3    19     5

In [15]:
df.iloc[:3,:2]

   var1  var2
0    26    19
1    22    26
2     6    29

In [16]:
df.loc[0:3,"var3"]

0    25
1     2
2    24
3     5
Name: var3, dtype: int32

In [17]:
df.iloc[0:3,"var3"]

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

In [18]:
df.iloc[0:3]["var3"]

0    25
1     2
2    24
Name: var3, dtype: int32

In [19]:
df["var1"]

0    26
1    22
2     6
3     9
4    25
5    18
6     7
7    13
8    18
9     3
Name: var1, dtype: int32

In [20]:
df[0:2]["var1","var2"]

KeyError: ('var1', 'var2')

In [21]:
df[0:2][["var1","var2"]]

   var1  var2
0    26    19
1    22    26

In [22]:
df.var1

0    26
1    22
2     6
3     9
4    25
5    18
6     7
7    13
8    18
9     3
Name: var1, dtype: int32

In [24]:
df[df.var1>20]

   var1  var2  var3
0    26    19    25
1    22    26     2
4    25    24     8

In [26]:
df[(df.var1>20) &(df.var3<5)]

   var1  var2  var3
1    22    26     2

In [27]:
df[(df.var1>20),["var1","var2"]]

TypeError: '(0     True
1     True
2    False
3    False
4     True
5    False
6    False
7    False
8    False
9    False
Name: var1, dtype: bool, ['var1', 'var2'])' is an invalid key

In [28]:
df.loc[(df.var1>20),["var1","var2"]]

   var1  var2
0    26    19
1    22    26
4    25    24